<div class="flex justify-end gap-[10px] items-center" style="gap: 10px; padding: 10px; margin-right: 20px;">
    <div style="border-radius: 10px;"  class=" cursor-pointer flex items-center px-2 py-1 rounded-[10px]  border border-gray-300 w-[100px]">
        <i class="fa-solid fa-magnifying-glass"></i>
        <div>
            <input type="text">
        </div>
    </div>
    <div class="px-4 py-3 border border-gray-300 cursor-pointer" style="border-radius: 50%;" >
        <i class="fa-regular fa-bell"></i>
    </div>
    <div class="px-4 py-3 border border-gray-300 cursor-pointer" style="border-radius: 50%;">
        <i class="fa-regular fa-envelope"></i>
    </div>
    <div class="cursor-pointer" style=" width: 45px; height: 45px; ">
        <img style="border-radius: 50%;" src="./assets/images/avatar.jpg" alt="">
    </div>
</div>