<ngx-datatable
  [rows]="rows"
  [columns]="columns"
  class="material"
  columnMode="force"
  rowHeight="auto"
  [headerHeight]="50"
  [footerHeight]="50"
  (activate)="onActivate($event)"
>
</ngx-datatable>

<ng-template #title let-row="row" let-value="value" ngx-datatable-cell-template>
  <div
    class="flex items-center relative"
    style="gap: 10px"
    (mouseover)="showPlayButton(row)"
    (mouseleave)="hidePlayButton()"
  >
    <div>
      <input
        style="width: 22px; height: 22px; accent-color: black"
        type="checkbox"
      />
    </div>
    <div id="play-on-track" style="width: 48px; height: 48px" class="relative">
      <ng-container *ngIf="row == isPlayedByRow"
        ><ng-container
          *ngTemplateOutlet="hover; context: { row: row, value: value }"
        ></ng-container
      ></ng-container>
      <img style="border-radius: 10px" [src]="value.imageUrl" alt="" />
    </div>
    <div class="flex flex-col">
      <a id="name-track" href="">{{ value.name }}</a>
      <a id="author-track" href="">{{ value.author }}</a>
    </div>
  </div>
</ng-template>

<ng-template #hover let-row="row" let-value="value" ngx-datatable-cell-template>
  <div class="hover" (click)="onPlayAudio(row)">
    <div
      style="border-radius: 50%; padding: 5px 10px; background-color: black"
      class="cursor-pointer"
    >
      <i
        [class]="isPlay ? 'fa-solid fa-pause' : 'fa-solid fa-play'"
        style="color: white"
      ></i>
    </div>
  </div>
</ng-template>

<ng-template
  #engagements
  let-row="row"
  let-value="value"
  ngx-datatable-cell-template
>
  <div class="flex items-center justify-start gap-4">
    <div class="cursor-pointer">
      <i class="fa-regular fa-heart"></i>
      <span class="ml-1">{{ value.like }}</span>
    </div>
    <div class="cursor-pointer">
      <i class="fa-regular fa-comment"></i>
      <span class="ml-1">{{ value.comment }}</span>
    </div>
  </div>
</ng-template>

<ng-template
  #action
  let-row="row"
  let-value="value"
  ngx-datatable-cell-template
>
  <div class="flex gap-2 justify-center">
    <button
      class="px-2 py-1 text-sm bg-blue-500 text-white rounded hover:bg-blue-600"
      (click)="showEdit(row)"
    >
      Sửa
    </button>
    <button
      class="px-2 py-1 text-sm bg-red-500 text-white rounded hover:bg-red-600"
      (click)="onDelete(row)"
    >
      Xoá
    </button>
  </div>
</ng-template>


<ng-container *ngIf="isShowedEdit">
  <app-edit-bar
    style="z-index: 9999"
    [title]="selectedRow['title']['name']"
    [imageUrl]="selectedRow['title']['imageUrl']"
    [description]="selectedRow['description']"
    [mainArtists]="selectedRow['mainArtist']"
    [privacy]="selectedRow['isPublic'] ? 'public' : 'private'"
    [id]="selectedRow['idTrack']"
    (onClickOutsideEdit)="hideEdit()"
    (updateSuccess)="fetchTrack()"
    class="relative"
  ></app-edit-bar>
</ng-container>
